﻿
table.in {
    border: 5px solid #000000;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

table.Inside {
    border: 1px solid #000000;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}



    table.Inside td {
  
        text-align: center;
        vertical-align: middle;
    }




    table.Inside input {
        border: .1px solid #000000;
        background-color: whitesmoke;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: #FFFFFF;
        outline: none;
        font-size: 20px;
    }

table.Inside input:disabled {
    background-color: #EEEEEE;
}