﻿<%@ Page Theme="Theme1"    Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="WebApplication1._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
 
    <script src="Scripts/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="Scripts/App.js"></script>

    <table  class="nav-justified" style="width: 80%; height: 100%; margin:0">
        <tr>
            <td style="width: 35%; height:35%;" ></td>
            <td style="width: 25%; height: 25%;"><p style="font:bold 18px arial">Here is your puzzle. <br /> Good luck!<br />  </p>
           </td>
            <td style="height: 30%">
                &nbsp;</td>
        </tr>
        <tr>
            <td style="width: 30%" >
  

                &nbsp;</td>


            <td id="myTable" style="width: 45%; height: 60%">


 
         




               </td>
            <td>
               
                <asp:Button ID="Button1" runat="server" OnClick="Button1_Click1" Text="Verify" style="width: 61px" />
                
                <asp:Label ID="Label2" runat="server" Text=" " Width="103px" Height="17px"></asp:Label>
                </td>
        </tr>
        <tr>
            <td style="width: 453px; height: 28px;">
                </td>
            <td style="width: 313px; height: 28px;">
                
                &nbsp;<td style="height: 28px">

                <asp:Label ID="Label1" runat="server" Text=" ..."></asp:Label>
               <br /> 

            </td>
        </tr>
        <script>

                   myFunction();

        </script>
        
    </table>

       
       	
	




</asp:Content>
